/* .navbar{
    height: 70px;
   }
#l1{
    margin-left: 100px;
    margin-top: 20px;
}
#p1{
    font-size: larger;
}
#logo1{
    margin-bottom: 5px;
    
}
#ip1{
    margin-top: 20px;
    margin-left: -50px;
    width: 650px;
    
} */
